h1{
    color: #444444;
    color: rgb(68, 68, 68);
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0);

}
body{
    text-align: justify;
    width: 650px;
    margin: 6px auto;
}
h5{
    font-weight: bold;
}
.detail>span{
    font-size: 13px;
    color: #fff;
    background-color: #ea0000;
    padding: 2px 5px;
}