@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 400;
    line-height: 1.35;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.section{
    background-color: white;
    height: 50px;
    float: left;
    width: 100%;
}
.container{
    width: 100%;
    float: none;
    margin: 0 auto;

}
.restaurant{
    float: left;
    width: 7%;
}
.burgers{
    float: left;
    width: 6%;
}
.anh1{
    float: left;
    width: 7%;
}
.pizza{
    float: left;
    width: 5%;
}
.sdt{
    float: right;
    width: 8%;
}
.diachi{
    float: right;
    width: 25%;
}
.sidebar{
    float: left;
    width: 25%;
}
.content{
    float: left;
    width: 75%;
}
.one-col .content{
    width: 100%;
}
.threecol .content{
    width: 50%;
}
nav p{
    float: right;
    width: 5%;
}
div {
    width: calc(25% - 30px);
    float: left;
    margin: 10px 15px;
    padding: 10px 45px;
    border-radius: 6px;
    box-sizing: initial;
}
.box1{
    background-color: white;
    width: calc(26% - 30px);;
    margin: 25px 50px auto;
    padding: 10px 19px;
    box-sizing: content-box;
}
.box1:hover{
    transform: scale(1.1);
}
p{
    font-family: "Open Sans";
    font-size: 15px;
}
h3{
    font-family: "Playfair Display";
    font-size: 19px;
    font-weight: 700;
}